$attach_file_background: #f2f7fe;
$attach_file_color: #062536;

.attach-files-button {
  width: 96px;
  height: 34px;
  background: $attach_file_background;
  font-size: 10px;
  line-height: 20px;
  color: $attach_file_color;
  padding: 0;
  padding-right: 10px;
  border-radius: 4px;
  border: none;

  .attach-files-icon {
    padding-left: 6px;
    padding-right: 6px;
    height: 15px;
  }
}

input[type="file"] {
  display: none;
}
