<button mat-button class="attach-files-button"
  (click)="click()">
  <img src="../../../../../../assets/icons/attach.svg"
    class="attach-files-icon" alt="">
  Attach Files
</button>
<input type="file" #file>
