@mixin flex-align-center {
  display: flex;
  align-items: center;
}

.landing {
  .header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px 20px 10px;

    @media screen and (max-width: 600px) {
      padding: 15px 20px 15px 20px;
    }

    h1 {
      font-size: 24px;
      margin: 0;
      font-weight: 800;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #3e3e3e;
    }

    ::ng-deep .mat-button {
      min-width: 36px;
      min-height: 36px;
      border: none;
      border-radius: 6px;
      padding: 0;
      background-color: #ededed;
      @include flex-align-center;
      justify-content: center;

      mat-icon {
        line-height: normal;
        height: 16px;
        width: 16px;
        font-size: 16px;
      }
    }
  }

  .list-container{
    width: 100%;
    padding: 0 20px;

    .item {
      padding: 30px 20px 15px 20px;
      border-radius: 6px;
      box-shadow: 7px 2px 26px 0 rgba(0, 0, 0, 0.06);
      background-color: #ffffff;
      margin-bottom: 10px;

      .up {
        width: 100%;
        display: flex;
        margin-bottom: 35px;

        .image{
          min-width: 62px;
          min-height: 62px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          margin-right: 16px;
        }

        .content {
          width: calc(100% - 62px);
          .title{
            font-size: 16px;
            color: #3e3e3e;
            margin-bottom: 7px;
          }

          .description{
            font-size: 14px;
            color: #062536;
          }
        }
      }

      .down {
        margin: auto;
        position: relative;
        display: flex;
        justify-content: center;
        color: #fb3202;
        font-size: 14px;
        margin-top: 10px;
        width: 116px;
        font-weight: 800;

        .arrow-right {
          position: absolute;
          right: 0;
          top: 10px;
          width: 16px;
          height: 16px;
          background-image: url("./../../../../../assets/landing-icons/arrow-right.svg");
        }
      }

      .line {
        width: 100%;
        height: 1px;
        background-color: #ededed;
      }
    }
  }
}

