<div class="landing"
  *ngIf="!(loadingService.isLoading$ | async)">
  <div class="header">
    <h1>Welcome</h1>
  </div>
  <div class="list-container">
    <div class="item" *ngFor="let item of landingItems">
      <div class="up">
        <div class="image" [ngStyle]="{'background-image': 'url(' + item.link + ')'}"></div>
        <div class="content">
          <div class="title">{{item.title}}</div>
          <div class="description">{{item.description}}</div>
        </div>
      </div>
      <div class="line"></div>
      <button mat-button class="down">
        Learn More
        <div class="arrow-right"></div>
      </button>
    </div>
  </div>
</div>
