.wrapper {
  display: flex;

  .news-wrapper {
    padding: 20px 60px 0px 60px;
  }
}


@media screen and (max-width: 1024px) {
  .wrapper {
    .news-wrapper {
      padding: 20px 20px 0px 10px;
    }
  }
}
