<form [formGroup]="form" class="wrapper"
  *ngIf="!(loadingService.isLoading$ | async) && form">
  <div class="header">
    <div class="header-up">
      <h1>My Profile</h1>
      <div>All fields are required</div>
    </div>
    <h3>Personal Information</h3>
  </div>
  <div class="group-container">
    <div class="group-form">
      <label>First Name</label>
      <mat-form-field appearance="outline">
        <input matInput formControlName="firstName">
      </mat-form-field>
    </div>
    <div class="group-form">
      <label>Last Name</label>
      <mat-form-field appearance="outline">
        <input matInput formControlName="lastName">
      </mat-form-field>
    </div>
    <div class="group-form">
      <label>Date of Birth</label>
      <mat-form-field appearance="outline">
        <input matInput [matDatepicker]="picker1"
          formControlName="dateOfBirth">
        <mat-datepicker-toggle matSuffix [for]="picker1">
        </mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="group-form">
      <label>Mobile Phone</label>
      <mat-form-field appearance="outline">
        <input matInput formControlName="tel">
      </mat-form-field>
    </div>
    <app-tab-button [selectedValue]="selectedGender"
      [items]="genderItems"
      (tabChange)="onGenderSelect($event)">
    </app-tab-button>
    <div class="group-form">
      <label>I am a</label>
      <mat-form-field appearance="outline">
        <mat-icon svgIcon="arrow"></mat-icon>
        <mat-select formControlName="role">
          <mat-option *ngFor="let role of rolesItems"
            [value]="role.value">
            {{ role.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="header">
    <h3>Address Information</h3>
  </div>
  <div class="group-container">
    <div class="group-form">
      <label>Country</label>
      <mat-form-field appearance="outline">
        <mat-icon svgIcon="arrow"></mat-icon>
        <input matInput placeholder="Country"
          aria-label="Country"
          [matAutocomplete]="autoCountry"
          formControlName="countryId">
        <mat-autocomplete #autoCountry="matAutocomplete"
          [displayWith]="countryDisplay">
          <mat-option
            *ngFor="let country of filteredCountries$ | async"
            [value]="country.id">
            <span>{{country.name}}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="group-form">
      <label>State</label>
      <mat-form-field appearance="outline">
        <mat-icon svgIcon="arrow"></mat-icon>
        <input matInput placeholder="State"
          aria-label="State" [matAutocomplete]="autoState"
          formControlName="stateId">
        <mat-autocomplete #autoState="matAutocomplete"
          [displayWith]="stateDisplay">
          <mat-option
            *ngFor="let state of filteredStates$ | async"
            [value]="state.id">
            <span>{{state.name}}</span> -
            <span>{{state.abbr}}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="group-form">
      <label>City</label>
      <mat-form-field appearance="outline">
        <input matInput formControlName="city">
      </mat-form-field>
    </div>
    <div class="group-form">
      <label>Zipcode</label>
      <mat-form-field appearance="outline">
        <input matInput formControlName="zip">
      </mat-form-field>
    </div>
  </div>
  <div class="header">
    <h3>Account Information</h3>
  </div>
  <div class="group-container">
    <div class="group-form">
      <label>Display Name</label>
      <mat-form-field appearance="outline">
        <input matInput formControlName="displayName">
      </mat-form-field>
    </div>
    <div class="group-form">
      <label>Home Category</label>
      <mat-form-field appearance="outline">
        <mat-icon svgIcon="arrow"></mat-icon>
        <mat-select
          formControlName="categoryId">
          <mat-option *ngFor="let category of categories"
            [value]="category.id">
            {{category.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="group-form">
      <label>Say Something About You</label>
      <mat-form-field appearance="outline">
        <input matInput formControlName="about">
      </mat-form-field>
    </div>
  </div>
  <div class="header">
    <h3>My Profile Picture</h3>
  </div>
  <div class="group-container m-b-20 avatar-block">
    <div class="container-avatar">
      <app-avatar [size]="100"></app-avatar>
    </div>
    <div class="action-avatar">
      <button mat-stroked-button>
        <button mat-icon-button class="pointer upload">
          <mat-icon svgIcon="upload"></mat-icon>
        </button>
        Upload
      </button>
      <button mat-stroked-button>
        <button mat-icon-button class="pointer trash">
          <mat-icon svgIcon="trash"></mat-icon>
        </button>
        Delete
      </button>
    </div>
  </div>

  <app-action-footer (click)="submit()">
    <mat-icon svgIcon="check" icon></mat-icon>
    <span text>Update Profile</span>
  </app-action-footer>
</form>
