.wrapper {
  background: #f9fafb;
  color: #062536;

  .header {
    padding: 20px;
    padding-bottom: 0;

    .header-up {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }

    h1, h3 {
      font-weight: bold;
    }

    h1 {
      margin-bottom: 20px;
    }

    h3 {
      margin-bottom: 10px;
    }
  }

  ::ng-deep {
    .toggle-button {
      margin-bottom: 20px;
    }
  }

  .group-container {
    padding: 20px;
    padding-bottom: 17px;
    background: white;
    width: 100%;

    .group-form {
      &:last-child {
        ::ng-deep mat-form-field {
          .mat-form-field-wrapper {
            padding-bottom: 0;
          }
        }
      }

      width: 100%;

      label {
        display: block;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
      }

      ::ng-deep {
        mat-form-field {
          mat-select .mat-select-arrow{
            z-index: -1;
            opacity: 0;
          }
          .mat-form-field-wrapper {
            .mat-form-field-flex {
              .mat-form-field-infix {
                padding: 0.5em 0 !important;
              }

              height: 44px;
            }
          }

          width: 100%;
        }
      }
    }
  }

  .option-one-data {
    display: flex;
    justify-content: space-between;
  }

  .avatar-block {
    display: flex;

    .container-avatar {
      box-shadow: 7px 2px 26px rgba(0, 0, 0, 0.06);
      width: 140px;
      padding: 20px;
      height: 140px;
      border-radius: 12px;
      margin-right: 30px;
    }

    .action-avatar {
      width: 151px;
      display: flex;
      flex-direction: column;

      > ::ng-deep button {
        box-shadow: 7px 2px 26px rgba(0, 0, 0, 0.06);
        border: none!important;

        .mat-button-wrapper {
          display: flex;
          width: 100%;
          height: 100%;
          align-items: center;
        }

        &:first-child {
          margin-bottom: 20px;
        }
      }
    }
  }

  .m-b-20 {
    margin-bottom: 20px;
  }
  .upload, .trash {
    background: #062536;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 26px;
    width: 26px;
    margin-right: 10px;
    ::ng-deep .mat-button-wrapper {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
      mat-icon {
        height: 16px;
        width: 16px;
      }
    }
  }
  .trash {
    background: #dadada;
  }
  ::ng-deep mat-icon[svgicon="arrow"] {
    position: absolute;
    width: 16px;
    height: 16px;
    transform: rotateZ(90deg);
    right: 5px;
    top: 3px;
  }
}
