

@mixin all-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin w100-40px {
  width: calc(100% - 40px);
}

@mixin form-mixin {
  .form {
    width: 100vw;
    background: white;

    ::ng-deep mat-form-field{
      margin-bottom: 20px;
      &.mat-form-field {

        width: 100%;
        height: 44px;
        font-size: 12px;

        .mat-form-field-label, .mat-form-field-flex {
          margin-top: 0;
        }

        .mat-form-field-flex {
          padding: 0 20px;
        }

        mat-label {
          color: #062536;
          width: 100%;
          @include all-flex-center;
          justify-content: space-between;
        }

        .mat-form-field-wrapper {
          margin: 0;
          padding: 0;
          width: 100%;
          height: 44px;
          border: 1px solid #dadada;
          border-radius: 6px;
          background: #ffffff;

          .mat-form-field-flex {
            height: 44px;

            .mat-form-field-outline {
              .mat-form-field-outline-start,
              .mat-form-field-outline-gap,
              .mat-form-field-outline-end {
                border: none;
              }
            }

            .mat-form-field-infix {
              border: 1px transparent;
              padding: 15px 0;
              height: 44px;
              align-items: center;
            }
          }
        }
      }
    }

    @media screen and (max-width: 1300px) {
      display: block !important;
    }
    @media screen and (min-width: 600px) {
      width: 100%;
    }
  }

}

@mixin mch-button-mixin{
  app-tab-button{
    .toggle-button{
      margin-bottom: 35px;
      height: 40px;
      mat-button-toggle-group{
        height: 100%;
        mat-button-toggle{
          height: 100%;
          button{
            height: 100%;
            .mat-button-toggle-label-content{
              height: 100%;
              @include all-flex-center;
              line-height: inherit;
            }
            .toggle-text{
              width: 100%;
            }
          }
        }
      }
    }
  }
}
