.dashboard-wrap {
  display: flex;
  min-height: 90vh;
  section {
    width: 100%;
    padding: 12px 30px 0px;
    .row {
      app-notification-card {
        display: none;
      }
      height: 36px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 36px;
      margin-bottom: 30px;
      padding: 0px 5px;
      .home-text {
        width: 124px;
        height: 20px;
        font-family: Nunito;
        font-size: 24px;
        font-weight: 800;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        color: #062536;
      }
      .toggle-buttons {
        width: 40%;
        @media screen and (max-width: 1000px) {
          margin-top: 20px;
          width: 100%;
        }
        ::ng-deep {
          app-tab-button .toggle-button{
            margin: 0;
          }
          mat-button-toggle-group {

            display: flex;

            mat-button-toggle {
              flex: 1;
            }
          }
        }
      }
    }
  }
}
::ng-deep{
  .category{
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  aside {
    display: none;
  }
  .dashboard-wrap {
    section {
      padding: 12px 18px 0px;
      .row {
        margin-top: 20px;
        margin-bottom: 15px;
        flex-direction: column;
        height: unset;
        align-items: stretch;
        app-notification-card {
          display: flex;
          margin-bottom: 20px;
        }
        .home-text {
          height: unset;
          margin-bottom: 15px;
        }

      }
    }
  }
}
