<div class="dashboard-wrap">
  <section [hidden]="loadingService.isLoading$ | async">
    <div class="row">
      <app-notification-card></app-notification-card>
      <h1 class="home-text">{{sectionTitle}}</h1>

      <div class="toggle-buttons">
        <app-tab-button
          [selectedValue]="selectedView"
          [items]="dashboardItems"
          (tabChange)="onViewChange($event)">
        </app-tab-button>
      </div>
    </div>

    <app-dashboard-posts
      [hidden]="selectedView !== DASHBOARD_VIEWS.POSTS"
      [posts]="posts$ | async">
    </app-dashboard-posts>

    <app-dashboard-news
      [hidden]="selectedView !== DASHBOARD_VIEWS.NEWS">
    </app-dashboard-news>

    <app-dashboard-tweets
      [hidden]="selectedView !== DASHBOARD_VIEWS.TWEETS">
    </app-dashboard-tweets>
  </section>
</div>
