<div class="bottom-sheet-container">
  <div class="content">
    <div class="header">
      <button mat-button color="#ededed"
        (click)="openBottomSheetMessage()">
        <mat-icon svgIcon="arrow"></mat-icon>
      </button>
      <h1>Groups</h1>
    </div>

    <div class="form">
      <mat-form-field appearance="outline">
        <input matInput placeholder="Group name">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput placeholder="Mission">
      </mat-form-field>
    </div>

    <h3>Set privacy</h3>
    <app-tab-button [selectedValue]="selectedView"
      [items]="accessItems"
      (tabChange)="onViewChange($event)">
    </app-tab-button>
  </div>
  <app-action-footer>
    <mat-icon svgIcon="add" icon></mat-icon>
    <span text>create new group</span>
  </app-action-footer>
</div>
