@import "../styles/mixins";
@include form-mixin;

.bottom-sheet-container {

  h1,
  h3 {
    font-weight: bold;
    font-size: 24px;
  }

  h3 {
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: -4px;
  }

  .header {
    display: flex;
    align-items: baseline;
    width: 100%;
    margin-bottom: 20px;

    button {
      margin-right: 15px;
      min-height: 36px;
      min-width: 36px;
      padding: 0;
      transform: rotateZ(180deg);
      background: #ededed;

      ::ng-deep {
        .mat-button-wrapper {
          height: 100%;
          width: 100%;
          line-height: 0;
          @include all-flex-center;
        }

        mat-icon {
          height: 16px;
          width: 16px;
        }
      }
    }
  }

  .content {
    padding: 23px 20px;
    padding-bottom: 0;
  }

  @media screen and (max-width: 1300px) {
    .form {
      width: 100% !important;
    }
  }

  ::ng-deep {
    label.mat-form-field-label {
      transform: none !important;
    }

    mch-group-footer {
      footer {
        border-top: 1px solid #dadada;
      }
    }

    @include mch-button-mixin;
  }
}
