<div class="bottom-sheet-container">
  <div class="content">
    <div class="header">
      <h1>Groups</h1>
      <form class="search-sort">
        <mat-form-field appearance="outline" class="pointer"
          (click)="openBottomSheet()">
          <mat-label class="sort-label">
            <img
              src="../../../../../../assets/icons/add.svg"
              class="add-icon" alt="">
            New Group
          </mat-label>
          <input matInput>
        </mat-form-field>
        <button mat-button>
          <mat-icon>settings</mat-icon>
        </button>
      </form>
    </div>
    <app-tab-button [selectedValue]="selectedView"
      [items]="groupItems"
      (tabChange)="onViewChange($event)">
    </app-tab-button>


    <div class="form">
      <mat-form-field appearance="outline">
        <img src="../../../../../../assets/icons/search.svg"
          class="search-icon" alt="">
        <input matInput [formControl]="searchControl"
          placeholder="Search">
      </mat-form-field>
    </div>
  </div>
  <mat-list role="list">
    <mat-list-item role="listitem"
      *ngFor="let item of items">
      <div class="list-content">
        <div class="listitem-content">
          <mat-icon
            [svgIcon]="item.full ? 'rating-full' : 'rating-full-gray'">
          </mat-icon>
          {{item.name}}
        </div>
        <mat-icon svgIcon="arrow"></mat-icon>
      </div>
    </mat-list-item>
  </mat-list>
</div>
