@import "../styles/mixins";
@include form-mixin;

.bottom-sheet-container {
  height: 60vh;

  h1 {
    font-weight: bold;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    margin-bottom: 20px;

  }

  padding-bottom: 40px;

  .content {
    padding: 23px 20px;
  }

  @media screen and (max-width: 1300px) {
    .form {
      width: 100% !important;
    }
  }

  ::ng-deep {
    @include mch-button-mixin;
  }
}

::ng-deep {
  @include mch-button-mixin;

  mat-list {
    background: #f2f7fe;
    padding-top: 0 !important;

    mat-list-item {
      padding: 0 6px !important;
      border-bottom: 1px solid white;
      color: #062536;
      font-weight: bold;

      .list-content {
        mat-icon {
          width: 12px;
          height: 12px;
        }

        .listitem-content {
          >mat-icon {
            margin-right: 10px;
          }

          mat-icon {
            width: 16px;
            height: 16px;
          }

          display: flex;
          align-items: center;
        }

        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
      }
    }
  }
}

.form {
  ::ng-deep mat-form-field {
    label.mat-form-field-label {
      transform: none !important;
    }

    margin-bottom: 0;
  }
}

.search-sort {
  display: flex;

  >button {
    min-height: 36px;
    min-width: 36px;
    padding: 0;
    transform: rotateZ(180deg);
    background: #ededed;

    ::ng-deep {
      .mat-button-wrapper {
        min-height: 36px;
        min-width: 36px;
        line-height: inherit;
        @include all-flex-center;
      }

      mat-icon {
        font-size: 20px;
        height: 20px;
        width: 20px;
      }
    }
  }

  ::ng-deep mat-form-field.mat-form-field {
    label.mat-form-field-label {
      transform: none !important;
    }

    width: 135px;
    height: 36px;
    font-size: 12px;
    margin-right: 5px;

    .mat-select-arrow-wrapper {
      display: none;
    }

    .mat-form-field-wrapper {
      margin: 0;
      padding: 0;
      width: 135px;
      border-radius: 6px;
      background: #ededed;
      height: 36px;

      .mat-form-field-flex {
        height: 36px;

        .mat-form-field-outline {

          .mat-form-field-outline-start,
          .mat-form-field-outline-gap,
          .mat-form-field-outline-end {
            border: none;
          }
        }

        .mat-form-field-infix {
          border: 1px transparent;
          padding: 15px 0;
          height: 36px;
          align-items: center;


          .mat-form-field-label-wrapper {
            label {
              color: #062536;
              width: 100%;

              mat-label {

                &.search {
                  padding-left: 30px;
                  margin-top: 6px;
                  padding-bottom: 5px;
                  display: flex;
                  transform: none !important;

                  .search-icon {
                    position: absolute;
                    left: 7px;
                    top: 2px;
                    width: 16px;
                    height: 16px;
                  }
                }

                &.sort-label {
                  padding-left: 30px !important;
                  margin-top: 6px;
                  padding-bottom: 5px;
                  display: flex;

                  span {
                    padding-left: 36px;
                    font-weight: bold;
                  }

                  .community-icon,
                  .add-icon {
                    position: absolute;
                    width: 16px;
                    height: 16px;

                    left: 3px;
                    top: 2px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
