<div class="topbar">
  <img src="assets/images/mch-wide-logo.jpg" alt=""
    class="logo">
</div>
<div class="wrapper">
  <div class="login-box">
    <h2>Log In to MCH</h2>
    <form [formGroup]="form" class="form">
      <mat-form-field appearance="outline">
        <mat-icon matPrefix>email</mat-icon>
        <input matInput formControlName="email"
          placeholder="Email" type="email" />
        <mat-error
          *ngIf="email.dirty && email.hasError('required')">
          This field is required
        </mat-error>
        <mat-error
          *ngIf="email.dirty && email.hasError('email')">
          Please provide a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-icon matPrefix>lock</mat-icon>
        <input matInput formControlName="password"
          placeholder="Password" type="password" />
        <mat-error
          *ngIf="password.dirty && password.hasError('required')">
          This field is required
        </mat-error>
        <mat-error *ngIf="showUserNotFoundError">
          Email and/or password are incorrect, please try
          again.
        </mat-error>
      </mat-form-field>
    </form>
    <a class="reset-password">Recover my password</a>
    <button class="login-btn" mat-raised-button
      (click)="login()">
      Log In
      <mat-icon>arrow_forward</mat-icon>
    </button>
    <mat-divider></mat-divider>
    <span class="new-account">Don't have an account? <a>Create one
        here</a></span>
  </div>
</div>
