.topbar {
  height: 100px;
  border-radius: 1px;
  box-shadow: 7px 2px 26px 0 rgba(0, 0, 0, 0.06);
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 100%;
  height: calc(100vh - 100px);
  background-color: #f9fafb;

  .login-box {
    position: relative;
    top: 50px;
    width: 420px;
    margin: 0 auto;
    box-shadow: 7px 2px 26px 0 rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    padding: 25px;
    max-width: 100%;
    display: flex;
    flex-direction: column;

    h2 {
      font-weight: 800;
      font-size: 18px;
      color: #062536;
    }

    .form {
      display: flex;
      flex-direction: column;
      font-size: 12px;
      input {
        &::placeholder{
          color: #062536;
          font-weight: 600;
          font-size: 14px;
          opacity: 1;
        }
      }
    }

    .login-btn {
      margin-top: 15px;
      font-size: 14px;
      font-weight: bold;
      border-radius: 6px;
      background-color: #fb6c02;
      height: 40px;
      color: #fff;
      margin-bottom: 25px;
      box-shadow: 0 4px 12px 0 #f0c4a3;

      .mat-icon {
        margin-left: 10px;
        font-size: 16px;
        width: 16px;
        height: 16px;
        font-weight: inherit;
      }

      .text-wrap {
        height: 20px;
      }
    }

    a.reset-password {
      padding-left: 15px;
      color: #fb3202;
      font-size: 12px;
      font-weight: 600;
      text-decoration: none;
      cursor: pointer;
    }
    .new-account {
      padding: 25px 15px;
      font-size: 14px;
      color: #062536;
      a {
        font-weight: bold;
        color: #fb3202;
        cursor: pointer;
      }
    }
  }
}
