

$body-color-bg: #ffffff;
$input-border-color: #dadada;
$light-blue-color: #f2f7fe;
$input-text-color: #062536;
$category-text-color: #85868f;
$header-input-color: #ededed;
$orange-color: #fb6c02;


$box-shadow: 0px 2px 2px rgba(72, 80, 86, 0.2);
$hovered-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 2px rgba(72, 80, 86, 0.2);
