<div class="categories"
  *ngIf="!(loadingService.isLoading$ | async)">
  <div class="header">
    <h1>Categories</h1>
    <button mat-button>
      <mat-icon svgIcon="search" class="search-icon">
      </mat-icon>
    </button>
  </div>
  <div class="list-container">
    <mat-list role="list">
      <mat-list-item role="listitem" class="pointer"
        *ngFor="let item of categories"
        [ngClass]="{'no-pointer-events' : item.id === selectedCategoryId}"
        (click)="item.id !== selectedCategoryId && selectItem(item)">
        <div class="item-container">
          <div class="item-content">
            <div class="item-first-part">
              <mat-icon
                [svgIcon]="item.id === selectedCategoryId ? 'red-star' : 'grey-star'">
              </mat-icon>
              {{item.name}}
            </div>
            <mat-icon
              *ngIf="item.id !== selectedCategoryId; else current"
              svgIcon="arrow"></mat-icon>
          </div>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
</div>
<ng-template #current>
  <div class="text-current-category">
    Current Category
  </div>
</ng-template>
