@mixin flex-align-center {
  display: flex;
  align-items: center;
}

.categories {
  .header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px 20px 10px;

    @media screen and (max-width: 600px) {
      padding: 15px 20px 15px 20px;
    }

    h1 {
      font-size: 24px;
      margin: 0;
      font-weight: 800;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #3e3e3e;
    }

    ::ng-deep .mat-button {
      min-width: 36px;
      min-height: 36px;
      border: none;
      border-radius: 6px;
      padding: 0;
      background-color: #ededed;
      @include flex-align-center;
      justify-content: center;

      mat-icon {
        line-height: normal;
        height: 16px;
        width: 16px;
        font-size: 16px;
      }
    }
  }

  ::ng-deep mat-list-item {
    background: white;
    margin-bottom: 5px;
    @include flex-align-center;

    .mat-list-item-content {
      @media screen and (max-width: 600px) {
        padding: 0 20px;
      }
    }

    .item-container,
    .mat-list-item-content {
      width: 100%;
      height: 100%;
      @include flex-align-center;

      .item-content {
        mat-icon {
          width: 12px;
          height: 12px;
        }

        .item-first-part {
          @media screen and (max-width: 600px) {
            font-size: 14px;
          }

          >mat-icon {
            margin-right: 10px;
          }

          mat-icon {
            width: 16px;
            height: 16px;
          }

          @include flex-align-center;
        }

        width: 100%;
        @include flex-align-center;
        justify-content: space-between;
      }
    }
  }
}

::ng-deep .text-current-category {
  font-size: 14px;
  font-weight: 600;
  color: #dadada;
}
