<div class="container-change-category">
  <h1>
    Seeking to enter {{item?.name}}
    category as a guest?
  </h1>
  <div class="description">
    <p>You may JOIN existing groups in MyGroups and
      POST in MyCrowd as a guest in this category.</p>
    You will have READ ONLY permission in other
    sections of this category.
  </div>
  <div class="action">
    <button mat-stroked-button class="approve">
      <mat-icon svgIcon="check"></mat-icon>
      Yes
      <mat-icon svgIcon="arrow"></mat-icon>
    </button>
    <button
       mat-stroked-button
       class="close"
       (click)="closeBottomSheet()">
      <mat-icon>close</mat-icon>
      No
      <mat-icon svgIcon="arrow"></mat-icon>
    </button>
  </div>
</div>
