.container-change-category {
  h1{
    font-size: 20px;
    font-weight: 800;
    color: #3e3e3e;
  }

  padding: 20px;
  .description{
    font-size: 14px;
    font-weight: 600;
    color: #3e3e3e;
    p{
      margin-bottom: 15px;
    }
    margin-bottom: 20px;
  }

  .action {
    width: 100%;
    display: flex;
    flex-direction: column;

    > ::ng-deep button {
      &.approve {
        mat-icon {
          line-height: normal;
          path{
            fill: #062536;
          }
        }
      }
      &.close {
        mat-icon:first-child {
          line-height: normal;
          font-size: 23px!important;
          width: 20px!important;
          height: 20px!important;
          margin-left: -3px;
          color: #062536
        }
      }
      box-shadow: 7px 2px 26px rgba(0, 0, 0, 0.06);
      border: none !important;

      mat-icon:first-child {
        margin-right: 13px;
        width: 16px;
        height: 16px;
        font-size: 16px;
      }

      mat-icon:last-child {
        position: absolute;
        right: 10px;
        margin-right: 13px;
        top: 3px;
        width: 12px;
        height: 12px;
      }

      .mat-button-wrapper {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
      }
      margin-bottom: 10px;
    }
  }
}
