@mixin all-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin w100-40px {
  width: calc(100% - 40px);
}

::ng-deep .search-icon {
  position: absolute;
  right: 5px;
  top: 14px;
  width: 16px;
  height: 16px;
}

#Groups.wrapper {
  flex: none;

  margin: 0 60px;
  margin-bottom: 101px;

  >* {
    width: 100%;
  }

  @media screen and (max-width: 800px) {
    margin: 0;
  }

  .header {

    @include all-flex-center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 20px;

    @media screen and (max-width: 800px) {
      margin: 20px 20px 10px;
      @include w100-40px;
    }

    h1 {
      color: #062536;
      font-size: 24px;
      line-height: 20px;
      font-family: "Nunito-ExtraBold", sans-serif;
      margin: 0 0 0 10px;
      font-weight: bold;

      @media screen and (max-width: 800px) {
        margin-left: 0;
      }
    }

    .search-sort {
      display: flex;

      ::ng-deep mat-form-field.mat-form-field {
        width: 214px;
        height: 36px;
        font-size: 12px;
        margin-left: 5px;

        .mat-select-arrow-wrapper {
          display: none;
        }

        .mat-form-field-wrapper {
          margin: 0;
          padding: 0;
          width: 214px;
          border-radius: 6px;
          background: #ededed;
          height: 33px;

          .mat-form-field-flex {
            height: 36px;

            .mat-form-field-outline {

              .mat-form-field-outline-start,
              .mat-form-field-outline-gap,
              .mat-form-field-outline-end {
                border: none;
              }
            }

            .mat-form-field-infix {
              border: 1px transparent;
              padding: 15px 0;
              height: 36px;
              align-items: center;

              .mat-form-field-label-wrapper {
                label {
                  color: #062536;
                  width: 100%;

                  mat-label {
                    &.search {
                      padding-left: 30px;
                      margin-top: 6px;
                      padding-bottom: 5px;
                      display: flex;


                    }

                    &.sort-label {
                      padding-left: 30px !important;
                      margin-top: 6px;
                      padding-bottom: 5px;
                      display: flex;

                      span {
                        padding-left: 36px;
                        font-weight: bold;
                      }

                      .community-icon,
                      .add-icon {
                        position: absolute;
                        width: 16px;
                        height: 16px;

                        left: 3px;
                        top: 2px;
                      }

                      .add-icon {
                        left: auto;
                        right: 3px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .create-new-topic {
    width: 100%;
    height: 118px;
    border-radius: 6px;
    background: #ffffff;
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    .share-icon {
      height: 11px;
      margin-right: 5px;
    }

    @media screen and (max-width: 800px) {
      @include w100-40px;
      height: 117px;
      margin: 0 20px 15px 20px;
    }

    .avatar {

      @media screen and (max-width: 800px) {
        display: none;
      }

      .user-avatar {
        width: 52px;
        height: 52px;
        border-radius: 50%;
        display: flex;
        margin: 19px 29px 47px 29px;
      }
    }

    .right {
      width: calc(100% - 20px);
      height: 118px;
      padding-top: 25px;
      padding-right: 20px;
      display: flex;
      justify-content: flex-start;
      max-width: 100%;
      flex-direction: column;

      @media screen and (max-width: 800px) {
        width: 100%;
        padding-right: 0;
        padding-top: 15px;
        margin: 0 15px;
      }

      ::ng-deep mat-form-field.mat-form-field {
        &.create-new-topic {
          width: 100%;
          height: 40px;
          font-size: 12px;
          line-height: 20px;
          position: relative;
          margin: 0;

          .mat-form-field-wrapper {
            width: 100% !important;
          }

          @media screen and (max-width: 800px) {
            width: 100%;
            height: 44px;
          }

          .user-avatar-mobile {
            display: none;

            @media screen and (max-width: 800px) {
              display: block;
              position: absolute;
              left: -3px;
              top: 7px;
              bottom: 8px;
              width: 29px;
              height: 29px;
            }
          }


          .mat-form-field-wrapper {
            width: 595px;
            border-radius: 6px;
            height: 40px;

            .mat-form-field-flex {
              height: 40px;
              padding: 0 15px;

              .mat-form-field-infix {
                height: 40px;
                align-items: center;
                border: none;

                input::placeholder {
                  color: #062536;
                  padding-left: 39px;
                }

              }
            }
          }
        }

        .new-topic-arrow {
          position: absolute;
          right: 5px;
          bottom: 12px;
          width: 16px;
          height: 16px;
          @include all-flex-center;
          border: none;
          background: white;
          cursor: pointer;
        }
      }

      .controls {
        @include all-flex-center;
        justify-content: flex-start;
        padding-top: 8px;

        .attach-files-button {
          width: 96px;
          height: 34px;
          background: #f2f7fe;
          font-size: 10px;
          line-height: 20px;
          color: #062536;
          margin-right: 5px;
          padding: 0;

          .attach-files-icon {
            padding-left: 6px;
            padding-right: 6px;
            height: 15px;
          }
        }

        ::ng-deep mat-form-field.mat-form-field {
          &.share-select {
            width: 102px;
            height: 34px;
            font-size: 12px;
            line-height: 20px;
            position: relative;

            .mat-form-field-wrapper {
              margin: 0;
              padding: 0;
              width: 102px;
              border-radius: 4px;
              height: 34px;
              background: #f2f7fe;

              .mat-form-field-flex {
                height: 34px;

                .mat-form-field-outline {

                  .mat-form-field-outline-start,
                  .mat-form-field-outline-gap,
                  .mat-form-field-outline-end {
                    border: none;
                  }
                }

                .mat-form-field-infix {
                  height: 30px;
                  align-items: center;
                  border: none;

                  .mat-form-field-label-wrapper {
                    padding-left: 1px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }


  .news-wrapper {
    flex: 4;
    margin: 10px 0;
  }

}

footer {
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #fb3202;
  height: 75px;
  width: calc(100% - 340px - 250px);
  box-sizing: border-box;
  padding: 16px 0;
  position: fixed;

  @media screen and (max-width: 1024px) {
    width: calc(100% - 250px);
    right: 0;
  }

  @media screen and (max-width: 700px) {
    width: calc(100%);
    right: 0;
    left: 0;
  }

  bottom: 0;

  .logo {
    border-radius: 50%;
    display: flex;
    height: 34px;
    width: 34px;
    color: white;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    background: #fb3202;

    ::ng-deep mat-icon {
      width: 16px;
      height: 16px;
      font-size: 16px;
    }
  }
}
