<div id="Groups" class="wrapper"
  *ngIf="!(loadingService.isLoading$ | async)">
  <div class="header">
    <h1>Groups</h1>
    <div class="search-sort">
      <mat-form-field appearance="outline"
        (click)="openBottomSheetManage()" class="pointer">
        <mat-label class="sort-label">
          <img
            src="../../../../../../assets/icons/community.svg"
            class="community-icon" alt="">
          MCH New Star
          <img src="../../../../../../assets/icons/add.svg"
            class="add-icon" alt="">
        </mat-label>
        <mat-select placeholder="Latest Posts" disabled>
          <mat-option>
            Latest Posts
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="news-wrapper">
    <ng-container *ngFor="let item of posts$ | async">
      <app-group-card [post]="item"></app-group-card>
    </ng-container>
  </div>
</div>
<footer (click)="openBottomSheetMessage()" class="pointer">
  <div class="logo">
    <mat-icon>date_range</mat-icon>
  </div>
  Write a new message
</footer>
