<div class="wrapper"
[class.featured-blog-post]="isFeatureBlogPost">
  <div class="header">
    <div>
      <h2 class="title">{{ post.title }}</h2>
      <div class="category">
        Category:
        <a *ngFor="let category of post.categories">{{ category }}</a>
      </div>
    </div>
    <div class="action-wrap">
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </div>
  <div class="body">
    <p>
      {{ post.body }}
    </p>
  </div>
  <div class="footer">
    <div class="left">
      <div class="name-wrap">
        <img src="../../../../../assets/images/logo-round.jpg" class="logo" style="display: none;">
        <span>Posted by: <span class="author-name">{{ post.author }}</span></span>
      </div>
      <div class="date-wrap">
        <mat-icon>date_range</mat-icon>
        <span>{{ post.date }}</span>
      </div>
    </div>
    <div class="right">
      <app-star-rating [rating]="this.post.rating" [max]="5"></app-star-rating>
    </div>
  </div>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>edit</mat-icon>
    <span>Edit</span>
  </button>
  <button mat-menu-item disabled>
    <mat-icon>delete</mat-icon>
    <span>Delete</span>
  </button>
  <button mat-menu-item>
    <mat-icon>flag</mat-icon>
    <span>Flag</span>
  </button>
</mat-menu>
