@import '../../../../../styles/mixins';
@import '../../../../../styles/variables';

.wrapper {
  border-radius: 3px;
  box-shadow: 3.5px 1px 13px 0 rgba(0, 0, 0, 0.06);
  background-color: $body-color-bg;
  margin-bottom: 5px;
  margin-right: 0;
  padding: 12.5px 15px;

  @media screen and (max-width: 800px) {
    width: 335px;
    height: 201px;
  }

  .header {
    display: flex;
    justify-content: space-between;
  }

  .action-wrap {
    width: 36px;
    height: 36px;

    button {
      @include all-flex-center;
      width: 36px;
      height: 36px;
      border-radius: 6px;
      border: solid 1px $input-border-color;
      background-color: $body-color-bg;
      cursor: pointer;
      min-width: unset;
      min-height: unset;
      color: $category-text-color;

      &:focus {
        outline: none;
      }
    }
  }

  .title {
    font-weight: 800;
    letter-spacing: normal;
    color: $input-text-color;
    font-size: 18px;
    margin-bottom: 4px;
    @media screen and (max-width: 800px) {
      margin: 0;
    }
  }

  .category {
    color: $category-text-color;
    font-weight: 600;
    font-size: 12px;

    a {
      text-decoration: underline;
    }
  }

  .body {
    color: $input-text-color;
    margin: 15px 0;

    @media screen and (max-width: 800px) {
      width: 295px;
      height: 48px;
      margin: 0;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      p {
        margin: 0;
        font-size: 14px;
        line-height: 24px;
      }
    }
  }

  .footer {
    background-color: $light-blue-color;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    padding: 4px 7.5px;
    font-size: 12px;

    .right {
      display: flex;
      align-items: center;
      margin-right: 7.5px;

      app-star-rating {
        ::ng-deep .mat-icon {
          height: 14px;
          width: 14px;
          font-size: 14px;
        }
      }
    }

    .left {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .name-wrap {
        margin-right: 40px;
      }

      .date-wrap {
        display: flex;
        align-items: center;

        .mat-icon {
          margin-right: 5px;
          width: 16px;
          height: 16px;
          font-size: 16px;
        }
      }

      span {
        margin-right: 40px;

        .author-name {
          font-weight: 600;
          text-decoration: underline;
        }
      }

      div {
        span {
          margin: auto 0;
        }
      }
    }
  }

  &.featured-blog-post {
    width: 236px;
    height: 354px;
    box-shadow: $box-shadow;
    border: 1px solid $orange-color;
    transition: box-shadow 0.3s;
    position: relative;
    padding: 12.5px 15px;

    @media screen and (max-width: 800px) {
      width: 335px;
      height: 104px;
      padding: 20px 20px 10px 20px;

      .header {
        h2 {
          font-size: 18px;
          line-height: 20px;
          margin: 0;
        }

        .category {
          display: none;
        }
      }
    }

    &:hover {
      box-shadow: $hovered-box-shadow;
    }

    .action-wrap {
      button {
        border: none;
      }
    }

    .body {
      width: 196px;
      height: 112px;
      font-size: 14px;
      line-height: 22px;
      font-family: "Nunito", sans-serif;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5;

      @media screen and (max-width: 800px) {
        -webkit-line-clamp: 1;
        width: 295px;
        height: 24px;
      }
    }

    .footer {
      background: none;
      flex-direction: column;
      padding: 0;

      @media screen and (max-width: 800px) {
        display: none;
      }


      .left {
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
        padding: 4px 7.5px;

        .name-wrap {
          display: flex;
          padding-bottom: 12px;

          .logo {
            display: flex !important;
            width: 20px;
            height: 20px;
            margin-right: 13px;
          }

          .author-name {

          }
        }

        .date-wrap {
          mat-icon {
            margin-right: 17px;
          }
        }

      }

      .right {
        align-items: center;
        height: 46px;
        position: absolute;
        bottom: 0;
        border-top: 1px solid $header-input-color;
        width: 206px;

        app-star-rating {
          margin-left: 3px;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .wrapper {
    .header {
      .category {
        display: none;
      }
    }

    .footer {
      padding: 12px 15px;

      .left {
        span {
          margin-bottom: 14px;
          margin-right: 0px;

          .author-name {
            margin-right: 0px;
          }
        }

        flex: 3;
        flex-direction: column;
        align-items: flex-start;
      }

      .right {
        flex: 1;
        justify-content: flex-end;
        align-items: flex-end;
        margin-bottom: 5px;
        margin-right: 0px;
      }
    }
  }
}
