.wrapper {
  width: 100%;
  border-radius: 6px;
  box-shadow: 3.5px 1px 13px 0 rgba(0, 0, 0, 0.06);
  background-color: #ffffff;
  margin-bottom: 5px;
  margin-right: 0;
  padding: 22px 10px 15px 10px;

  @media screen and (max-width: 800px) {
    width: calc(100% - 40px);
    margin: auto;
    margin-bottom: 10px;
  }

  hr {
    background: #dadada;
    border: none;
    height: 1px;
  }

  .header {
    width: 100%;
    display: flex;
    color: #062536;

    .author-name {
      font-weight: bold;
      margin-right: 5px;
    }

    .name-wrap {
      margin-left: 10px;
      margin-bottom: 12px;
      margin-right: 10px;
      height: 34px;

      img {
        height: 100%;
      }
    }
  }

  .body {
    padding: 10px;

    .link-container {
      margin-top: 5px;
      color: #fb3202;
    }
  }
  &.group-card {
    ::ng-deep {
      app-attachment-button .attach-files-button{
        margin-top: 10px;
      }
    }
  }
}
