<div class="wrapper group-card">
  <div class="header">
    <div class="name-wrap">
      <img
        src="../../../../../../assets/images/logo-round.jpg"
        class="logo">
    </div>
    <div class="date-wrap">
      <div>
        <span><span
            class="author-name">{{ post.author }}</span>wrote
          on </span>
      </div>
      <div>{{ post.date }}</div>
    </div>
  </div>
  <hr>
  <div class="body">
    <div>
      {{ post.body }}
    </div>
    <div class="link-container">
      www.thisisalink.com
    </div>
    <app-attachment-button></app-attachment-button>
  </div>
</div>
