.card {
  flex: 1;
  justify-content: space-between;
  height: 70px;
  object-fit: contain;
  border-radius: 6px;
  box-shadow: 7px 2px 26px 0 rgba(0, 0, 0, 0.06);
  background-color: #ffffff;
  display: flex;
  align-items: center;
  .text {
    margin: 15px 27px 15px 15px;
    font-size: 12px;
    line-height: 1.67;
    color: #062536;
  }
  .arrow {
    margin-right: 15px;
    margin-top: 5px;
    a {
      cursor: pointer;
    }
    .mat-icon {
      font-size: 16px;
    }
  }
}
