<div class="card">
  <p class="text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit.
  </p>
  <div class="arrow">
    <!-- <button mat-button>Basic</button> -->
    <a><mat-icon>arrow_forward</mat-icon></a>
  </div>
</div>
