<span>
   <mat-icon *ngFor="let count of fullStarCount" class="icon">
        star
      </mat-icon>
      <mat-icon *ngIf="hasHalfStar" class="icon">
        star_half
      </mat-icon>
      <mat-icon *ngFor="let count of emptyStarCount" class="icon">
        star_border
      </mat-icon>
</span>
