.container-user-menu {
  padding: 20px;

  .action-avatar {
    width: 100%;
    display: flex;
    flex-direction: column;

    > ::ng-deep button {
      box-shadow: 7px 2px 26px rgba(0, 0, 0, 0.06);
      border: none !important;

      mat-icon:first-child {
        margin-right: 13px;
        width: 16px;
        height: 16px;
        font-size: 16px;
      }

      mat-icon:last-child {
        position: absolute;
        right: 10px;
        margin-right: 13px;
        top: 3px;
        width: 12px;
        height: 12px;
      }

      .mat-button-wrapper {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
      }

      margin-bottom: 20px;

    }
  }
}
