<div class="container-user-menu">
  <h1>
    Choose one option
  </h1>
  <div class="action-avatar">
    <button mat-stroked-button
      (click)="navigate('profile')">
      <mat-icon>person</mat-icon>
      Profile
      <mat-icon svgIcon="arrow"></mat-icon>
    </button>
    <button mat-stroked-button>
      <mat-icon>inbox</mat-icon>
      Inbox
      <mat-icon svgIcon="arrow"></mat-icon>
    </button>
    <button mat-stroked-button (click)="logout()">
      <mat-icon>login</mat-icon>
      Log out
      <mat-icon svgIcon="arrow"></mat-icon>
    </button>
  </div>
</div>
