<mat-nav-list>
  <ng-container *ngFor="let item of routes">

    <div class="main-link">
      <a
              mat-list-item
              routerLinkActive="active"
              [routerLink]="[item.path]"
              *ngIf="!item.children"
      >
        <div class="icon-text-wrap">
          <app-mch-icon [name]="item.icon"></app-mch-icon>
          <span>{{ item.label }}</span>
        </div>
      </a>
    </div>
    <div class="nested-menu" *ngIf="item.children">
      <div class="main-link">
      <a mat-list-item
         (click)="showMenu = !showMenu"
         [class.active]="isRouteActive(item.path)">
        <div class="icon-text-wrap">
          <app-mch-icon [name]="item.icon"></app-mch-icon>
          <span>{{ item.label }}</span>
        </div>
      </a>
      </div>
      <ul class="nested submenu"
          [class.expand]="showMenu || isRouteActive(item.path)">
        <li *ngFor="let subItem of item.children">
          <a routerLinkActive="active-nested" [routerLink]="[item.path, subItem.path]">
            <div class="icon-text-wrap">
              <!-- <app-mch-icon [name]="subItem.icon"></app-mch-icon> -->
              <span>{{ subItem.label }}</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </ng-container>
</mat-nav-list>
