.mat-nav-list {
  margin-top:40px;
  ::ng-deep{
    .mat-list-item-content{
      padding: 0 14px!important;
    }
  }
  width: 100%;
  .main-link, .nested-menu > a{
    padding: 0 12px;
    font-size: 12px;
  }
  .main-link{
    font-size: 14px;
    margin-bottom: 21px;
  }
  a {
    border-radius: 6px;

    height: 40px;
    &.active {
      background-color: #fb6c02;
      border-radius: 8px;
      box-shadow: 0 4px 12px 0 #f0c4a3;
      font-weight: bold;
      color: #fff;
    }
    &.active-nested {
      border-radius: 8px;
      background-color: #fffbf3;;
      font-weight: bold;
      color: #fb6c02;
    }
    &:hover:not(.active) {
      background-color: #fffbf3;
      .icon-text-wrap {
        ::ng-deep .mat-icon, span {
          color: #fb6c02;
          font-weight: 600;
        }
      }
    }
    .mat-icon {
      margin-right: 15px;
      color: pink;
    }
    .icon-text-wrap {
      display: flex;
      align-items: center;
      width: 100%;
      ::ng-deep .mat-icon {
        width: 22px !important;
        height: 22px !important;
      }
      span {
        margin-left: 15px;
        font-family: "Nunito", sans-serif;
        text-transform: capitalize;
        font-size: 14px;
        line-height: 1.43;
      }
    }
  }

}
.nested-menu {
  .nested {
    list-style-type: none;
  }
  .submenu {
    display: none;
    height: 0;
  }
  & .expand {
    padding-left: 0px;
    &.submenu {
      display: block;
      list-style-type: none;
      height: auto;
      margin: 0;

      padding-left: 0px;
      li {
        border-bottom: 1px solid #ededed;
        a {
          padding: 10px;
          padding-left: 0px;
          display: block;
          .icon-text-wrap {
            span {
              font-size: 12px;
              margin-left: 62px;
            }
          }
        }
      }
    }
  }
}
