<div class="bottom-sheet-container">
  <mat-form-field appearance="outline"
    class="create-new-topic">
    <app-avatar *ngIf="!newMessage" [size]="29">
    </app-avatar>
    <!--        displayName-->
    <input class="input" matInput [(ngModel)]="newMessage"
      placeholder="Add a new message">
    <img class="new-topic-arrow"
      src="../../../../../../assets/icons/send.svg">
  </mat-form-field>
  <app-attachment-button></app-attachment-button>
</div>
