@import "../styles/mixins";

.bottom-sheet-container {
  padding-bottom: 40px;
}
::ng-deep app-attachment-button .attach-files-button{
  margin-top: 15px;
}
::ng-deep mat-form-field.mat-form-field {
  &.create-new-topic {
    width: 100%;
    height: 40px;
    font-size: 12px;
    line-height: 20px;
    position: relative;
    margin: 0;

    .mat-form-field-wrapper {
      width: 100% !important;
    }

    @media screen and (max-width: 800px) {
      width: 100%;
      height: 44px;
    }

    ::ng-deep .mat-focused {
      .user-avatar {
        display: none;
      }
    }

    ::ng-deep {
      app-avatar .avatar-container {
        position: absolute;
        top: 7px;
      }
    }

    .mat-form-field-wrapper {
      width: 595px;
      border-radius: 6px;
      height: 40px;

      .mat-form-field-flex {
        height: 40px;
        padding: 0 15px;

        .mat-form-field-infix {
          height: 40px;
          align-items: center;
          border: none;

          input::placeholder {
            color: #062536;
            padding-left: 39px;
          }

        }
      }
    }
  }

  .new-topic-arrow {
    position: absolute;
    right: 5px;
    bottom: 12px;
    width: 16px;
    height: 16px;
    @include all-flex-center;
    border: none;
    background: white;
    cursor: pointer;
  }
}
