<div class="avatar-container d-flex"
  *ngIf="(user$ | async) as user" [style.width.px]="size"
  [style.height.px]="size">

  <img
    *ngIf="user?.photoURL || !user?.displayName; else textAvatar"
    [src]="user?.photoURL || '../../../../../../assets/images/doctor-avatar.png'"
    alt="avatar">

  <ng-template #textAvatar>
    <div class="avatar-content"
      [style.fontSize.px]="size * 0.4"
      [colorize]="user?.uid">
      {{ initials(user?.displayName) }}
    </div>
  </ng-template>
</div>
