<mat-toolbar color="primary">
  <button type="button" mat-icon-button
    *ngIf="showToggleButton" (click)="toggleSidebar()"
    class="toggle-btn">
    <mat-icon aria-label="Side nav toggle icon"
      color="white">menu</mat-icon>
  </button>
  <div class="nav-brand" *ngIf="!showToggleButton">
    <img class="mch-logo" src="assets/images/mch-logo.png"
      alt="mch-logo" />
  </div>

  <div class="mobile-view-topbar" *ngIf="showToggleButton">
    <div class="nav-brand-mobile" *ngIf="showToggleButton">
      <img src="assets/images/logo.png" alt="mch-logo" />
    </div>

    <div class="mobile-buttons">
      <button class="topbar-icon-button" mat-stroked-button
        [matBadge]="badgeCount" matBadgeColor="warn">
        <mat-icon svgIcon="message" color="white">
        </mat-icon>
      </button>
      <button mat-stroked-button (click)="openMobileMenu()"
        class="profile-dropdown">
        <mat-icon color="white">account_circle</mat-icon>
        <mat-icon color="white">expand_more</mat-icon>
      </button>
    </div>
  </div>
  <div class="category-wrapper" *ngIf="!showToggleButton">
    <span class="category-name">{{categoryName}}</span>
  </div>
  <span class="nav-spacer"></span>
  <div class="nav-end" *ngIf="!showToggleButton">
    <button class="topbar-icon-button" mat-stroked-button
      [matBadge]="badgeCount" matBadgeColor="warn">
      <mat-icon svgIcon="message" color="white"></mat-icon>
    </button>

    <button class="topbar-icon-button" mat-stroked-button>
      <mat-icon color="white">settings</mat-icon>
    </button>

    <button mat-stroked-button [matMenuTriggerFor]="profile"
      class="profile-dropdown">
      <mat-icon color="white">account_circle</mat-icon>
      <span
        class="username">{{ (profile$ | async)?.displayName || (user$ | async)?.email }}</span>
      <span class="help">Help</span>
    </button>
  </div>
</mat-toolbar>

<mat-menu #profile="matMenu" [overlapTrigger]="false">
  <button mat-menu-item (click)="navigate('profile')">
    <mat-icon>person</mat-icon>
    <span>Profile</span>
  </button>
  <button mat-menu-item>
    <mat-icon>inbox</mat-icon>
    <span>Inbox</span>
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>login</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>
