:host {
  display: block;
  background: #062536;
  z-index: 1000;

  mat-icon {
    fill: white !important;
    ;
    color: white !important;
    ;

    * {
      fill: white !important;
      ;
    }
  }

  button {
    background: rgba(127, 127, 127, 0.06);

    * {
      fill: white !important;
    }
  }

  .toggle-btn {
    margin-right: 12px;
  }

  .mobile-view-topbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .mobile-buttons {
      button {

        // message
        &:first-child {
          margin-right: 21px;
          min-width: unset;
          width: 40px;
          height: 40px;
          display: inline-flex;
          justify-content: center;
          align-items: center;

          .mat-icon {
            width: 20px;
            height: 20px;
            font-size: 20px;
          }
        }

        // user dropdown
        &:nth-child(2) {
          min-width: unset;
          width: 70px;
          height: 40px;
          display: inline-flex;
          justify-content: space-evenly;
          margin-right: 20px;
        }
      }
    }
  }

  .mat-toolbar {
    background: #062536;
    color: white;
    box-shadow: 3.5px 1px 13px 0 rgba(0, 0, 0, 0.06);
    height: 70px;
  }

  .search-wrap {
    mat-icon {
      color: white;
      padding: 8px;
      position: absolute;
    }

    .input-field {
      padding: 8px;
      background: #f5f5f5;
      text-align: center;
      border-radius: 7px;
      border: none;
      width: 275px;
    }
  }

  .category-wrapper {
    width: 101px;
    height: 26px;
    object-fit: contain;
    border-radius: 4px;
    box-shadow: 0 6px 12px 0 rgba(127, 127, 127, 0.06);
    background-color: #325669;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    text-align: center;

    .category-name {
      width: 80px;
      height: 20px;
      font-size: 10px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 2;
      letter-spacing: normal;
      color: white;
    }
  }

  .nav-end {
    button {
      border-radius: 6px;
      margin-left: 15px;

      ::ng-deep .mat-button-wrapper {
        line-height: 0;
      }

      &.topbar-icon-button {
        min-width: unset;
        width: 40px;
        height: 40px;
        display: inline-flex;
        justify-content: center;
        align-items: center;

        .mat-icon {
          height: 20px;
          width: 20px;
          font-size: 20px;
        }
      }

      &.profile-dropdown {
        margin-right: 44px;
        width: 175px;
        height: 40px;
        padding: 0px 10px;

        mat-icon {
          width: 20px;
          height: 20px;
          font-size: 20px;
        }
      }
    }

    .username {
      font-size: 12px;
      margin-left: 12px;
      margin-right: 15px;
    }

    .help {
      width: 26px;
      height: 20px;
      font-size: 12px;
      font-weight: bold;
      line-height: 1.67;
      color: #fb3202;
      margin-right: 15px;
    }
  }
}

.nav-brand {
  display: flex;
  margin-left: 10px;
  width: 198px;
  height: 42px;
}

.nav-brand-mobile,
.nav-brand-mobile>img {
  width: 36px;
  height: 36px;
}

.topnav-icon {
  text-decoration: none;
  display: flex;
  color: #fff;
}

.nav-spacer {
  flex: 1 1 auto;
}
