<div class="wrapper" [ngClass]="{'no-padding': dashboardView}">
  <div class="row"
    *ngIf="!dashboardView && !(loadingService.isLoading$ | async)">
    <h1>News</h1>

    <div class="end-wrap">
      <mat-form-field
        *ngIf="!(isHandset$ | async)"
        ngDefaultControl appearance="outline"
        [formControl]="searchControl">
        <mat-label>Search in News</mat-label>
        <mat-icon matPrefix>search</mat-icon>
        <input matInput>
      </mat-form-field>

      <!-- <mat-form-field appearance="outline">
        <mat-select [(value)]="selectedFood">
          <mat-option></mat-option>
          <mat-option [value]="option.value"
            *ngFor="let option of foods">
            {{ option.viewValue }}</mat-option>
        </mat-select>
      </mat-form-field> -->
    </div>
  </div>
  <div class="news-wrapper">
    <div *ngFor="let item of feedlyDataSource$ | async">
      <app-news-card [newsItem]="item" *ngIf="item.text">
      </app-news-card>
    </div>
  </div>
</div>
