.wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px 60px 0px 60px;

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;

    h1 {
      font-size: 24px;
      font-weight: 800;
      color: #062536;
    }
    ::ng-deep .mat-form-field-wrapper {
      padding: 0px !important;
      margin: 0px !important;
      margin-bottom: 20px !important;
      background: #ededed;
      color: #062536;
    }
  }
}


@media screen and (max-width: 1024px) {
  .wrapper {
    padding: 20px 20px 0px 10px;
  }
}

:host {
  flex: 4;
  ::ng-deep .mat-form-field-flex>.mat-form-field-infix {
    padding: 0.4em 0px !important;
  }

  ::ng-deep .mat-form-field-label-wrapper {
    top: -1.5em;
  }

  ::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
  }
}
