.wrap {
  position: sticky;
  top: 0;
  padding: 30px 20px;
  .notifications-news-wrap {
    box-sizing: border-box;
    width: 300px;
    height: 175px;
    object-fit: contain;
    border-radius: 6px;
    background-color: #f9fafb;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 10px;
  }

  .upcoming-appointments-wrap {
    box-sizing: border-box;
    margin-top: 10px;
    width: 300px;
    height: 251px;
    object-fit: contain;
    border-radius: 6px;
    background-color: #f9fafb;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .title {
      h4 {
        width: 185px;
        height: 20px;
        font-size: 16px;
        font-weight: bold;
        color: #062536;
        margin-bottom: 15px;
        margin-left: 10px;
        width: 100%;
      }
    }

    .cards {
      margin-top: 15px;
      width: 280px;
      .card {
        margin-bottom: 5px;
        .card-content {
          width: 280px;
          height: 60px;
          object-fit: contain;
          border-radius: 6px;
          box-shadow: 7px 2px 26px 0 rgba(0, 0, 0, 0.06);
          background-color: #ffffff;
          display: flex;
          align-items: center;
          .calendar {
            margin-top: 6px;
            margin-left: 15px;
            .mat-icon {
              font-size: 16px;
            }
          }
          .right-info {
            .text {
              font-size: 12px;
              color: #062536;
              margin-top: 13px;
              margin-right: 37px;
            }
            .date-info {
              margin-bottom: 13px;
              font-size: 10px;
              color: #85868f;
              .actual-date {
                font-weight: bold;
              }
            }
            display: flex;
            flex-direction: column;
            font-size: 12px;
            line-height: 1.67;
            color: #062536;
          }
        }
      }
    }

    .footer {
      margin-left: 15px;
      margin-bottom: 10px;
      margin-right: 138px;
      width: 100%;
      font-size: 12px;
      font-weight: bold;
      color: #fb3202;
      a {
        cursor: pointer;
        font-size: 12px;
        display: flex;
        align-items: center;
      }
    }
  }

  .invitations-wrap {
    box-sizing: border-box;
    margin-top: 10px;
    width: 300px;
    height: 151px;
    object-fit: contain;
    border-radius: 6px;
    background-color: #f9fafb;
    padding: 10px;
    display: flex;
    flex-direction: column;
    .title {
      h4 {
        width: 185px;
        height: 20px;
        font-size: 16px;
        font-weight: bold;
        color: #062536;
        margin-bottom: 15px;
        margin-left: 10px;
        width: 100%;
      }
    }
    .cards {
      margin-top: 15px;
      width: 280px;
      .card {
        margin-bottom: 5px;
        .card-content {
          cursor: pointer;
          width: 280px;
          height: 60px;
          object-fit: contain;
          border-radius: 6px;
          box-shadow: 7px 2px 26px 0 rgba(0, 0, 0, 0.06);
          background-color: #ffffff;
          display: flex;
          align-items: center;
          padding-left: 15px;
          padding-top: 20px;
          padding-bottom: 20px;
          span {
            margin-left: 16px;
          }
        }
      }
    }
  }
}
