<div class="wrap">
  <div class="notifications-news-wrap">
    <app-notification-card></app-notification-card>
    <app-notification-card></app-notification-card>
  </div>

  <div class="upcoming-appointments-wrap">
    <div class="title">
      <h4>Upcoming Appointments</h4>
      <mat-divider></mat-divider>
    </div>
    <div class="cards">
      <div class="card">
        <div class="card-content">
          <div class="calendar">
            <mat-icon>calendar_today</mat-icon>
          </div>
          <div class="right-info">
            <span class="text">Lorem ipsum dolor sit amet senctuer.</span>
            <span class="date-info"
              >When: <span class="actual-date">Today</span></span
            >
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <div class="calendar">
            <mat-icon>calendar_today</mat-icon>
          </div>
          <div class="right-info">
            <span class="text">Lorem ipsum dolor sit amet senctuer.</span>
            <span class="date-info"
              >When: <span class="actual-date">Tomorrow</span></span
            >
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <a><span>See all appointments</span><mat-icon>arrow_forward</mat-icon></a>
    </div>
  </div>

  <div class="invitations-wrap">
    <div class="title">
      <h4>Invitations</h4>
      <mat-divider></mat-divider>
    </div>
    <div class="cards">
      <div class="card">
        <div class="card-content">
          <mat-icon>person_add</mat-icon>
          <span>Invite friends and family</span>
        </div>
      </div>
    </div>
  </div>
</div>
