.container {
  padding: 25px 30px 28px 30px;
  border-radius: 6px;
  box-shadow: 7px 2px 26px 0 rgba(0, 0, 0, 0.06);
  background-color: #ffffff;
  margin-bottom: 10px;
  max-height: 241px;

  .title {
    h3 {
      font-size: 18px;
      font-weight: 800;
      color: #062536;
      margin-bottom: 10px;
      text-overflow: ellipsis;
      overflow: hidden;
      cursor: pointer;
    }

    .date-wrap {
      display: flex;
      align-items: center;
      margin-bottom: 25px;

      .mat-icon {
        font-size: 16px;
        width: 16px;
        height: 16px;
      }

      .date {
        font-size: 12px;
        margin-left: 10px;
        color: #062536;
      }
    }
  }

  ::ng-deep .body {
    display: flex;
    align-items: center;

    .text {
      font-size: 14px;
      color: #062536;
      margin-left: 20px;

      .read-more {
        color: #fb3202;
        font-weight: bold;
        cursor: pointer;
      }
    }

    .image {
      img {
        width: 101px;
        height: 101px;
        border-radius: 50%;
      }
    }
  }
}


@media screen and (max-width: 1024px) {
  .container {
    max-height: unset;
    .body {
      flex-direction: column;
      align-items: start;

      .text {
        margin-left: 0px;
      }

      .image {
        img {
          width: 68px;
          height: 68px;
        }
      }
    }
  }
}
