<div class="container">
  <div class="title">
    <h3 (click)="openLink(newsItem.origin)">{{newsItem.title | ellipsis: 116}}</h3>
    <div class="date-wrap">
      <mat-icon>date_range</mat-icon>
      <span
        class="date">{{newsItem.date | date: 'yyyy-MM-dd HH:mm a'}}</span>
    </div>
  </div>
  <div class="body">
    <div class="image">
      <img
        *ngIf="newsItem.imageUrl && newsItem.imageUrl !== 'none'"
        [src]="newsItem.imageUrl" alt="doctor-avatar">
    </div>
    <div class="text"
      [ngClass]="{'no-margin': !newsItem.imageUrl}">
      {{newsItem.text | ellipsis: 311}} <a
        [href]="newsItem.origin"
        target="_blank"
        class="read-more"
        *ngIf="newsItem.text.length > 310">Read more</a>
    </div>
  </div>
</div>
