// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$mch-frontend-primary: mat-palette($mat-indigo);
$mch-frontend-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$mch-frontend-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$mch-frontend-theme: mat-light-theme(
  $mch-frontend-primary,
  $mch-frontend-accent,
  $mch-frontend-warn
);

$mch-typography: mat-typography-config(
  $font-family: Nunito
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($mch-frontend-theme);
@include angular-material-typography($mch-typography);
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Nunito, "Helvetica Neue", sans-serif;
  color: #062536;
}

.no-padding {
  padding: 0 !important;
}

.bottom-sheet {
  background: rgba(6, 37, 54, 0.7)
}

.bottom-sheet-not-padding {
  background: rgba(6, 37, 54, 0.7);
}

.bottom-sheet-not-padding + .cdk-global-overlay-wrapper {
  .mat-bottom-sheet-container {
    padding: 0;
  }
}

.pointer {
  cursor: pointer;
}

* {
  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.6);
    border: 4px solid transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 10px;
  }
}

$control-color-grey: #768073;
$control-color-blue: #5c69ff;
$control-color-green: #488040;
$control-color-red: #ff8271;
$control-color-orange: #ffb576;
.background-grey {
  background-color: $control-color-grey;
}

.background-blue {
  background-color: $control-color-blue;
}

.background-green {
  background-color: $control-color-green;
}

.background-red {
  background-color: $control-color-red;
}

.background-orange {
  background-color: $control-color-orange;
}


.no-pointer-events {
  pointer-events: none;
}
