@import '../../../../../styles/mixins';
@import '../../../../../styles/variables';

app-blogs {
  width: 100%;
}

#blog.wrapper {
  display: flex;
  margin: 0 60px;
  flex-direction: column;

  ::ng-deep {
    color: #062536;
  }

  >* {
    width: 100%;
  }

  @media screen and (max-width: 800px) {
    margin: 0;
  }

  .header {

    @include all-flex-center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 20px;

    @media screen and (max-width: 800px) {
      margin: 13px 20px 10px;
      @include w100-40px;
    }

    h1 {
      font-size: 24px;
      line-height: 20px;
      margin: 0 0 0 10px;
      font-weight: bold;

      @media screen and (max-width: 800px) {
        margin-left: 0;
      }
    }

    .search-sort {
      display: flex;

      @media screen and (max-width: 1300px) {
        display: none;
      }

      ::ng-deep mat-form-field.mat-form-field {
        width: 214px;
        height: 36px;
        font-size: 12px;
        margin-left: 5px;

        .mat-form-field-wrapper {
          margin: 0;
          padding: 0;
          width: 214px;
          border-radius: 6px;
          background: $header-input-color;
          height: 33px;

          .mat-form-field-flex {
            height: 36px;

            .mat-form-field-outline {

              .mat-form-field-outline-start,
              .mat-form-field-outline-gap,
              .mat-form-field-outline-end {
                border: none;
              }
            }

            .mat-form-field-infix {
              border: 1px transparent;
              padding: 15px 0;
              height: 36px;
              align-items: center;

              .mat-form-field-label-wrapper {
                label {
                  color: $input-text-color;

                  mat-label {
                    &.search {
                      padding-left: 30px;
                      margin-top: 6px;
                      padding-bottom: 5px;
                      display: flex;

                      .search-icon {
                        position: absolute;
                        left: 7px;
                        top: 2px;
                        width: 16px;
                        height: 16px;
                      }
                    }

                    &.sort-label {
                      padding-left: 30px !important;
                      margin-top: 6px;
                      padding-bottom: 5px;
                      display: flex;

                      span {
                        padding-left: 36px;
                        font-weight: bold;
                      }

                      .sort-by-icon {
                        position: absolute;
                        width: 16px;
                        height: 16px;

                        left: 3px;
                        top: 2px;
                      }
                    }

                  }
                }
              }
            }
          }
        }
      }
    }

    button {
      @include all-flex-center;

      .search-icon {
        width: 16px;
        height: 16px;
      }
    }

    .search-sort-mobile {
      display: none;


      @media screen and (max-width: 1300px) {
        display: flex;

        button {
          width: 36px;
          height: 36px;
          border: none;
          border-radius: 6px;

          &:first-child {
            margin-right: 4px;
          }

          &.active {
            background: $orange-color;

            ::ng-deep svg path {
              fill: $body-color-bg;
            }
          }
        }
      }
    }
  }

  .search-form-mobile {
    display: none !important;
    width: 100vw;
    background: $body-color-bg;
    padding: 15px 20px;
    margin-bottom: 20px;

    ::ng-deep mat-form-field.mat-form-field {
      width: 100%;
      height: 44px;
      font-size: 12px;

      .mat-form-field-label,
      .mat-form-field-flex {
        margin-top: 0;
      }

      .mat-form-field-flex {
        padding: 0 20px;
      }

      mat-label {
        color: $input-text-color;
        width: 100%;
        @include all-flex-center;
        justify-content: space-between;
      }

      .mat-form-field-wrapper {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 44px;
        border: 1px solid $input-border-color;
        border-radius: 6px;
        background: $body-color-bg;

        .mat-form-field-flex {
          height: 44px;

          .mat-form-field-outline {

            .mat-form-field-outline-start,
            .mat-form-field-outline-gap,
            .mat-form-field-outline-end {
              border: none;
            }
          }

          .mat-form-field-infix {
            border: 1px transparent;
            padding: 15px 0;
            height: 44px;
            align-items: center;
          }
        }
      }
    }

    @media screen and (max-width: 1300px) {
      display: block !important;
    }

    @media screen and (min-width: 600px) {
      width: 100%;
    }
  }

  .create-new-topic {
    width: 100%;
    height: 118px;
    border-radius: 6px;
    background: $body-color-bg;
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    .share-icon {
      transform: translateY(4px);
      height: 13px;
      margin-right: 5px;
    }

    @media screen and (max-width: 800px) {
      @include w100-40px;
      height: 117px;
      margin: 0 20px 15px 20px;
    }

    .avatar {
      @media screen and (max-width: 800px) {
        display: none;
      }

      .user-avatar {
        width: 52px;
        height: 52px;
        border-radius: 50%;
        display: flex;
        margin: 19px 29px 47px 29px;
      }
    }

    .right {
      width: calc(100% - 20px);
      height: 118px;
      padding-top: 25px;
      padding-right: 20px;
      display: flex;
      justify-content: flex-start;
      max-width: 100%;
      flex-direction: column;

      @media screen and (max-width: 800px) {
        width: 100%;
        padding-right: 0;
        padding-top: 15px;
        margin: 0 15px;
      }

      ::ng-deep mat-form-field.mat-form-field {
        &.create-new-topic {
          width: 100%;
          height: 40px;
          font-size: 12px;
          line-height: 20px;
          position: relative;
          margin: 0;

          .mat-form-field-wrapper {
            width: 100% !important;
          }

          @media screen and (max-width: 800px) {
            width: 100%;
            height: 44px;
          }

          .user-avatar-mobile {
            display: none;

            @media screen and (max-width: 800px) {
              display: block;
              position: absolute;
              left: -3px;
              top: 7px;
              bottom: 8px;
              width: 29px;
              height: 29px;
            }
          }


          .mat-form-field-wrapper {
            width: 595px;
            border-radius: 6px;
            height: 40px;

            .mat-form-field-flex {
              height: 40px;
              padding: 0 15px;

              .mat-form-field-infix {
                height: 40px;
                align-items: center;
                border: none;

                input::placeholder {
                  color: $input-text-color;

                  @media screen and (max-width: 800px) {
                    padding-left: 39px;
                  }
                }

              }
            }
          }
        }

        .new-topic-arrow {
          position: absolute;
          right: 5px;
          bottom: 12px;
          width: 16px;
          height: 16px;
          @include all-flex-center;
          border: none;
          background: $body-color-bg;
          cursor: pointer;
        }
      }

      .controls {
        @include all-flex-center;
        justify-content: flex-start;
        padding-top: 8px;
        ::ng-deep app-attachment-button {
          margin-right: 5px;
        }
        ::ng-deep mat-form-field.mat-form-field {
          .mat-select-arrow-wrapper {
            background-image: url("../../../../../assets/icons/arrow.svg");
            background-repeat: no-repeat;
            background-position: center;
            transform: rotateZ(90deg) translate(-1px);
            .mat-select-arrow {
              opacity: 0;
            }
          }
          &.share-select {
            width: 102px;
            height: 34px;
            font-size: 12px;
            line-height: 20px;
            position: relative;
            .mat-select-placeholder, label {
              color: #062536;
              //margin-top: 2px;
              mat-label{
                display: flex;
              }
            }
            .mat-form-field-wrapper {
              margin: 0;
              padding: 0;
              width: 102px;
              border-radius: 4px;
              height: 34px;
              background: $light-blue-color;

              .mat-form-field-flex {
                height: 34px;

                .mat-form-field-outline {

                  .mat-form-field-outline-start,
                  .mat-form-field-outline-gap,
                  .mat-form-field-outline-end {
                    border: none;
                  }
                }

                .mat-form-field-infix {
                  height: 30px;
                  align-items: center;
                  border: none;

                  .mat-form-field-label-wrapper {
                    padding-left: 1px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .featured-posts-block {
    width: 100%;
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(32%, 1fr));
    /* see notes below */
    grid-gap: 11px;

    @media screen and (max-width: 1500px) {
      grid-template-columns: repeat(auto-fill, 100%);
    }

    @media screen and (max-width: 800px) {
      flex-direction: column;
    }

    ::ng-deep app-post-card {
      .category {
        display: none;
      }

      .title {
        margin-bottom: 10px;
      }

      button {
        border: none !important;
      }

      .featured-blog-post {
        margin-right: 10px;
        margin-bottom: 10px;
        width: 100%;
        min-width: 236px;
        border-radius: 6px;

        >* {
          width: 100% !important;
        }

      }

      @media screen and (max-width: 800px) {
        height: 104px;
        margin: 10px 20px;
      }
    }

  }

  .news-wrapper {

    flex: 4;
    margin: 10px 0;

    app-post-card {
      margin: 10px 0;

      ::ng-deep {
        .category {
          display: none;
        }

        .wrapper {
          margin-bottom: 10px;
        }
      }

      @media screen and (max-width: 800px) {
        ::ng-deep .wrapper {
          @include w100-40px;
        }

        height: 201px;

        ::ng-deep .wrapper {

          margin: auto;
          margin-bottom: 10px;
        }
      }
    }
  }

  // TODO: maybe use a mixin for this
  aside {
    flex: 1;
    width: 340px;
    box-shadow: 7px 2px 26px 0 rgba(0, 0, 0, 0.06);
    background: $body-color-bg;
    margin-left: 10px;
  }
}
