<div id="blog" class="wrapper"
     *ngIf="!(loadingService.isLoading$ | async)">
    <div class="header">
        <h1>Blogs</h1>
        <div class="search-sort">
            <mat-form-field appearance="outline">
                <mat-label class="search">
                    <img
                        src="../../../../../assets/icons/search.svg"
                        class="search-icon" alt="">
                    Search a post
                </mat-label>
                <input matInput>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label class="sort-label">
                    <img
                        src="../../../../../assets/icons/sort.svg"
                        class="sort-by-icon" alt="">
                    Sort by   <span>Latest Posts</span>
                </mat-label>
                <mat-select placeholder="Latest Posts" disabled>
                    <mat-option>
                        Latest Posts
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="search-sort-mobile">
            <button [class.active]="search" (click)="search = !search" >
<!--                <img-->
<!--                    src="../../../../../assets/icons/search.svg"-->
<!--                    class="search-icon"-->
<!--                    alt="search-icon">-->
                <mat-icon svgIcon="search" class="search-icon"></mat-icon>
            </button>

            <button>
                <img
                    src="../../../../../assets/icons/sort.svg"
                    class="sort-by-icon"
                    alt="sort-by-icon">
            </button>
        </div>
    </div>

    <div class="search-form-mobile" *ngIf="search">
        <mat-form-field appearance="outline">
            <mat-label class="search">
                Search
                <img
                        src="../../../../../assets/icons/search.svg"
                        class="search-icon" alt="">
            </mat-label>
            <input matInput>
        </mat-form-field>
    </div>

    <div class="create-new-topic">
        <div class="avatar">
            <img
                 src="../../../../../assets/images/doctor-avatar.png"
                 alt="default-user-avatar"
                 class="user-avatar">
        </div>
        <div class="right">
            <mat-form-field appearance="outline" class="create-new-topic">
                <img
                    src="../../../../../assets/images/doctor-avatar.png"
                    alt="user-avatar-mobile"
                    class="user-avatar-mobile">
                <input matInput placeholder="Create a new topic">
                <img class="new-topic-arrow" src="../../../../../assets/icons/send.svg">
            </mat-form-field>

            <div class="controls">

                <app-attachment-button></app-attachment-button>

                <mat-form-field appearance="outline" class="share-select">
                    <mat-label>
                        <img src="../../../../../assets/icons/share.svg" class="share-icon" alt="">
                        Share
                    </mat-label>
                    <mat-select >
                        <mat-option
                        >
                            Latest Posts
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="featured-posts-block">
        <ng-container *ngFor="let item of posts$ | async">
            <app-post-card
                [post]="item"
                [isFeatureBlogPost]="true"
            >
            </app-post-card>
        </ng-container>
    </div>
    <div class="news-wrapper">
        <ng-container *ngFor="let item of posts$ | async">
            <app-post-card [post]="item"></app-post-card>
        </ng-container>
    </div>
</div>
