<div class="toggle-button">
  <mat-button-toggle-group [value]="selectedValue"
    (change)="changeValue($event)">
    <mat-button-toggle *ngFor="let item of items"
      [value]="item.value">
      <span class="toggle-text">{{item.label}}</span>
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>
