.toggle-button {
  margin-bottom: 60px;
  height: 40px;

  ::ng-deep {
    mat-button-toggle-group {
      overflow: inherit;
      color: #062536;
      height: 36px;
      border-radius: 6px;
      border: none;
      display: flex;
      align-items: center;
      font-size: 12px;


      > * {
        width: 33.33333333%;

        border-right: 1px solid #f6f6f6;

      }

      mat-button-toggle {
        border: none;
        box-shadow: 0px 6px 12px rgba(127, 127, 127, 0.15);

        &:first-child {
          border-top-left-radius: 6px;
          border-bottom-left-radius: 6px;
          //border-right: none;
        }

        ::ng-deep .mat-button-toggle-label-content {
          width: 100%;
          padding: 0px;
        }

        &:last-child {
          border-top-right-radius: 6px;
          border-bottom-right-radius: 6px;
          //border-right: none;
        }

        &.mat-button-toggle-checked {
          background-color: #fb6c02;
          color: #fff;
          box-shadow: 2px 2px 4px 0 rgba(200, 85, 0, 0.2);
          font-weight: bold;
        }

        .mat-icon {
          font-size: 20px;
          width: 20px;
          height: 20px;
          margin-right: 4px;
        }

        .toggle-text {
          margin-left: 4px;
          width: 32px;
          height: 20px;
        }
      }
    }
  }
}
