
footer{
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #fb3202;
  height: 75px;
  width: 100%;
  box-sizing: border-box;
  padding: 16px 0;
  .logo{
    border-radius: 50%;
    display: flex;
    height: 34px;
    width: 34px;
    color: white;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    background: #fb3202;
    ::ng-deep mat-icon {
      width: 16px;
      height: 16px;
      font-size: 16px;
      path{
        fill: white
      }
    }
  }
}
