.layout-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .sidenav-container {
    flex: 1;
    //overflow-y: scroll;

    .sidenav {
      padding: 0;
      width: 250px;
      background: #fff;
      box-shadow: 3.5px 1px 13px 0 rgba(0, 0, 0, 0.06);
      border-right: none;
    }
  }

  .main-container {
    width: 100%;
    display: flex;
    > ::ng-deep *:not(router-outlet) {
      width: 100%;
    }
    aside {
      flex: 1;
      z-index: 1;
      width: 340px;
      box-shadow: 7px 2px 26px 0 rgba(0, 0, 0, 0.18);
      background: #fff;
    }
  }
}

main ::ng-deep {
  min-height: 100%;
  app-blogs, app-profile {
    width: 100%;
  }

  app-groups {
    position: relative;
    width: 100%;
    //height: 100%;
  }

  mat-sidenav-content {
    width: calc(100% - 250px);
    @media screen and (max-width: 600px) {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1024px) {
  aside {
    display: none;
  }
}

