<div class="layout-container">
  <app-top-nav (sideNavToggled)="snav.toggle()"
    [showToggleButton]="isHandset$ | async">
  </app-top-nav>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav class="sidenav"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
      <app-side-nav></app-side-nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <main class="main-container">
        <router-outlet></router-outlet>
        <aside [hidden]="(isHandset$ | async) || (isLoading$ | async) === true">
          <app-dashboard-right-sidebar>
          </app-dashboard-right-sidebar>
        </aside>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
